div(class="footer")
    div(class="container")
        div(class="row")
            div(class="col col-lg-12") КАРАВАН. Оптовые продажи кондитерских изделий. Телефон для справок 89225551570

script(src='https://cdn.jsdelivr.net/npm/sweetalert2@8')
script(src='js/nav.js')
script(src='js/card.js')
script(src='js/nav1.js')